h1 {
    font-size: 2.5em;
}

.content .footer .container {
    padding-top: 2em;
}

.content .footer .flex {
    flex-direction: column-reverse;
}

.content .footer .flex .left,
.content .footer .flex .right {
    width: 100%;
    justify-content: center;
}

.content .footer .flex .left {
    margin-top: 10px;
}

.content .footer .right ul.icons {
    text-align: center;
}
