<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        grid: float,flex,grid colum
        form: text,file,radio
        margin: 0 auto  : căn giữa div
        thuộc tính float: phần tự cha ko thể xác định chiều cao
        c1: height: 300px
        c2: dùng clear
            bỏ thuộc tính float của phần tử trước đó
        hàm calc(): tính toán
        box-sizing: border-box: thêm boder cho phần tử khi đã xd chiều cao cố định..
        căn chỉnh chiều dọc: line-height: + text-align:center
        css selector có bao nhiêu cách?
            1. chọn phần tử-con thứ 2: nth:child(2)
            2.chọn phần tử có class bắt đầu bằng: col- => [class^="col-"]
        inline-block:tính luôn khoảng cách ở giữa(1 dấu cách)
        flex-basis: number|auto|initial|inherit; xaác định độ dài ban đầu của pt
        flex-direction: row|row-reverse|column|column-reverse|initial|inherit; hướng của phần tử
        flex-flow: flex-direction flex-wrap|initial|inherit;hướng + cuốn không
        flex-grow: number|initial|inherit; : mở rộng gấp mấy lần phần tử khác
        flex-shrink: number|initial|inherit; thu nhỏ gấp mấy lần phần tử khác
        flex-wrap: nowrap|wrap|wrap-reverse|initial|inherit; cuốn phần tử
        jutifi-content :space-between/space-around/flex-start/centercenter
    </p>
</body>
</html>